# Postgres Compartilhado
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

# Senha do usuário Plausible (use a mesma no .env do Plausible)
PLAUSIBLE_DB_PASSWORD=CHANGE_ME_PLAUSIBLE_PASSWORD

# Senha do usuário Syncal (use a mesma no .env do Syncal)
SYNCAL_DB_PASSWORD=CHANGE_ME_SYNCAL_PASSWORD

# Senha do usuário Zeroslides (use a mesma no .env do Zeroslides)
ZEROSLIDES_DB_PASSWORD=CHANGE_ME_ZEROSLIDES_PASSWORD
